@import "seattletimes";

.content{
    border-top : 1px solid @df-light-gray;
    border-bottom: 1px solid @df-light-gray;
    width: 96%;
    margin: auto;
}

// .albumInfo{

// }

.albumButtons{
    //display: block;
    //text-align: center;
    ul{
        list-style-type: none;
        padding: 0;
        width: 300;
    }
    li{
        width: 300px;

    }
    .albumButton{
        border:none;
        cursor: pointer;
        font-size: 16px;
        width: 254px;
        height: 22px;
        margin: 0 0 1px 0;
        outline: none;
        border-radius: 4px;
    }
    .before-these-crowded-streets, .stand-up, .come-tomorrow{
        color: #fdfdfd;
    }
}

.checked{
    transform: translateX(42px);
    transition: all 1s ease-in-out;
}

.albumDetails{
    max-width: 630px;
    float: left;
}


.vote{
    float:left;
}
