<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <!-- content goes here -->
    <div class="content">
    <div class="albumInfo">
    <div class="albumButtons">
        <% var albums = [
        { data: "under-the-table-and-dreaming", label: "Under The Table and Dreaming" },
        { data: "crash", label: "Crash"},
        { data: "before-these-crowded-streets", label: "Before These Crowded Streets" },
        { data: "everyday", label: "Everyday" },
        { data: "busted-stuff", label: "Busted Stuff" },
        { data: "stand-up", label: "Stand Up" },
        { data: "big-whiskey", label: "Big Whiskey & the GrooGrux King" }, 
        { data: "away-from-the-world", label: "Away From the World" },
        { data: "come-tomorrow", label: "Come Tomorrow"} 
      ] %>
      <ul>
       <% albums.forEach(function(album) { %>
        <li>
          <button type="button" class="albumButton <%= album.data %>" data-category="<%= album.data %>">
              <span class="albumButtonLabel"><%= album.label %></span>
          </button>
        </li>
       <% }) %>
      </ul>
    </div><!--End of album buttons-->

    <div class="albumDetails">
      <p><span class="infoTitle"></span></p>
      <p class="infoTitle">Release year: <span class="year"></span></p>
      <p class="riaa"></p>
      <p class="billboard"></p>
      <p class="grammy"></p>
      <p class="fact"></p>
    </div><!--End album info-->
    </div> <!--end of album info-->

    <div class="vote">
      <p>Reader poll, what is Dave Matthews Bands Best Album?</p>
        <div class="st-input-select dropdown">
            <select name="albums">
              <option value="default">Select Album</option>
              <% albums.forEach(function(album){ %>
                <option value="<%=album.data%>"><%= album.label %></option>
              <% }) %>  
            </select>
          </div>
        <button type="submit" value="submit" class="voteButton submit">Submit</button>
        <button type="button" value="view" class="voteButton viewResults">View Results</button>
        <p class="verify"></p>
    </div> <!--end of vote-->

    <div class="results">
      <p class="stat"></p>
    </div> 

  </div> <!--End of content-->

    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
